<div class="issue-content">
	<div class="issue-content-left">
		<div class="comment-list">
			{{template "repo/issue/view_content/issue_comment" .}}

			{{template "repo/issue/view_content/comments" .}}
			<div class="timeline-item tw-hidden" id="timeline-comments-end"></div>

			{{if and .Issue.IsPull (not $.Repository.IsArchived)}}
				{{template "repo/issue/view_content/pull_merge_box".}}
			{{end}}

			{{if .IsSigned}}
				{{if and (or .IsRepoAdmin .HasIssuesOrPullsWritePermission (not .Issue.IsLocked)) (not .Repository.IsArchived)}}
				<div class="timeline-item comment form">
					<a class="timeline-avatar" href="{{.SignedUser.HomeLink}}">
						{{ctx.AvatarUtils.Avatar .SignedUser 40}}
					</a>
					<div class="content">
						<div class="ui segment avatar-content-left-arrow">
							<form class="ui form form-fetch-action" id="comment-form" action="{{$.RepoLink}}/issues/{{.Issue.Index}}/comments" method="post">
								{{template "repo/issue/comment_tab" .}}
								<div class="field footer">
									<div class="flex-text-block tw-justify-end">
										{{if and (or .HasIssuesOrPullsWritePermission .IsIssuePoster) (not .DisableStatusChange)}}
											{{$btnIconColor := ""}}{{$btnIcon := ""}}{{$btnTextNoComment := ""}}{{$btnTextWithComment := ""}}{{$btnValue := ""}}
											{{if .Issue.IsClosed}}
												{{$btnValue = "reopen"}}
												{{$btnIconColor = "tw-text-green"}}
												{{$btnIcon = Iif .Issue.IsPull "octicon-git-pull-request" "octicon-issue-reopened"}}
												{{$btnTextNoComment = ctx.Locale.Tr (Iif .Issue.IsPull "repo.pulls.reopen" "repo.issues.reopen_issue")}}
												{{$btnTextWithComment = ctx.Locale.Tr "repo.issues.reopen_comment_issue"}}{{/* general: Reopen with Comment */}}
											{{else}}
												{{$btnValue = "close"}}
												{{$btnIconColor = "tw-text-red"}}
												{{$btnIcon = Iif .Issue.IsPull "octicon-git-pull-request-closed" "octicon-issue-closed"}}
												{{$btnTextNoComment = ctx.Locale.Tr (Iif .Issue.IsPull "repo.pulls.close" "repo.issues.close")}}
												{{$btnTextWithComment = ctx.Locale.Tr "repo.issues.close_comment_issue"}}{{/* general: Close with Comment */}}
											{{end}}
											<button id="status-button" class="ui button" data-status="{{$btnTextNoComment}}" data-status-and-comment="{{$btnTextWithComment}}" name="status" value="{{$btnValue}}">
												<span class="status-button-icon {{$btnIconColor}}">{{svg $btnIcon}}</span>
												<span class="status-button-text">{{$btnTextNoComment}}</span>
											</button>
										{{end}}
										<button id="comment-button" class="ui primary button">
											{{ctx.Locale.Tr "repo.issues.create_comment"}}
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				{{else if .Repository.IsArchived}}
					<div class="ui warning message tw-text-center">
						{{if .Issue.IsPull}}
							{{ctx.Locale.Tr "repo.archive.pull.nocomment"}}
						{{else}}
							{{ctx.Locale.Tr "repo.archive.issue.nocomment"}}
						{{end}}
					</div>
				{{end}}
			{{else}} {{/* not .IsSigned */}}
				{{if .Repository.IsArchived}}
					<div class="ui warning message tw-text-center">
						{{if .Issue.IsPull}}
							{{ctx.Locale.Tr "repo.archive.pull.nocomment"}}
						{{else}}
							{{ctx.Locale.Tr "repo.archive.issue.nocomment"}}
						{{end}}
					</div>
				{{else}}
					<div class="ui warning message">
						{{ctx.Locale.Tr "repo.issues.sign_in_require_desc" .SignInLink}}
					</div>
				{{end}}
			{{end}}{{/* end if: .IsSigned */}}
		</div>
	</div>

	{{template "repo/issue/view_content/sidebar" .}}
</div>

<template id="issue-comment-editor-template">
	<form class="ui form comment">
		<div class="field">
			{{template "shared/combomarkdowneditor" (dict
				"CustomInit" true
				"MarkdownEditorContext" (ctx.MiscUtils.MarkdownEditorComment $.Repository)
				"TextareaName" "content"
				"DropzoneParentContainer" ".ui.form"
			)}}
		</div>

		{{if .IsAttachmentEnabled}}
		<div class="field">
			{{template "repo/upload" .}}
		</div>
		{{end}}

		<div class="field">
			<div class="flex-text-block tw-justify-end">
				<button type="button" class="ui cancel button">{{ctx.Locale.Tr "repo.issues.cancel"}}</button>
				<button type="submit" class="ui primary button">{{ctx.Locale.Tr "repo.issues.save"}}</button>
			</div>
		</div>
	</form>
</template>

{{template "repo/issue/view_content/reference_issue_dialog" .}}
{{template "shared/user/block_user_dialog" .}}
